
 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Hi! I’m a Web Developer based in {% for adress in site.address %} {{ adress.line }} {% endfor %}.
                    <p>This site is a channel to share my latest mobile and web projects.</p>
                </div>
            </div>
        </div>
    </section>
