 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi there! I’m a Software Engineer living in Galway City in the west of Ireland, and this is my blog. This site is a channel to share interesting programming topics and improve my blog writing skills. :)</p>
                </div>
                <div class="col-lg-4">
                    <p> I have a passion for coding and have been working in full stack web development since graduating university.</p>
                </div>
                
            </div>
        </div>
    </section>
